<div class="detail-view">
    <td colspan="3"><span class="detailFooter"></span>
        <div class="detailContent">
            <div class="highlight">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        {{{content}}}
                    </div>
                </div>

                <div class="row footer-row">

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <a href="{{{url}}}" target="_blank" rel="nofollow noopener"
                           class="btn btn-primary" style="margin-top: 0px; margin-bottom: 4px;">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                            View original job description / <strong>Apply</strong>
                        </a>

                        <!-- &nbsp; -->
                        <div class="btn-group" style="display: none; margin-top: 0px; margin-left: 0px;
                        margin-right: 0px; margin-bottom: 4px;" >
                            <button class="btn btn-default dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span ><i class="fa fa-flag-o" aria-hidden="true"></i>
                                Report this job...</span>
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="javascript:void(0)" data-toggle="modal"
                                       data-target=".reportthisjob-modal"
                                       data-postid="{{{id}}}"
                                       data-tagcurrent="{{{tagCurrent}}}"
                                       data-title="{{{title}}}">I think this job is not remote</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">I think this job belongs into different
                                        category</a>
                                </li>
                            </ul>
                        </div>

                        &nbsp;
                        <a href="#{{{id}}}" class="btn btn-default" style="margin-top: 0px; margin-bottom: 4px;">
                            <i class="fa fa-link" aria-hidden="true"></i>
                            Get shareable link
                        </a>

                    </div>
                    <span class="detailFooter">&nbsp;</span>

                </div>

            </div>
        </div>
    </td>
</div>
